configuracao_node_red.json
[
    {
        "id": "108a8f75907bf401",
        "type": "tab",
        "label": "Estação Labcam",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "93ef2c0c7c4701ee",
        "type": "mqtt in",
        "z": "108a8f75907bf401",
        "name": "Velocidade_Do_Vento",
        "topic": "/est/senAnen",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ad571bdbc2afae72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "52249dce7bd265c4",
                "ab9ee59f87df9ded",
                "8e96b565cdfa923a",
                "49965bb5333ffd7d"
            ]
        ]
    },
    {
        "id": "52249dce7bd265c4",
        "type": "debug",
        "z": "108a8f75907bf401",
        "name": "debug Velocidade Do Vento ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 20,
        "wires": []
    },
    {
        "id": "5b08d0558224109d",
        "type": "mqtt in",
        "z": "108a8f75907bf401",
        "name": "Direção_Do_Vento",
        "topic": "/est/senDven",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ad571bdbc2afae72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 400,
        "wires": [
            [
                "d97a6e6ba03d49b0",
                "18dc445a76e80d5e",
                "ab9ee59f87df9ded"
            ]
        ]
    },
    {
        "id": "d97a6e6ba03d49b0",
        "type": "debug",
        "z": "108a8f75907bf401",
        "name": "debug Direção Do Vento ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "56d61a39859a0fba",
        "type": "mqtt in",
        "z": "108a8f75907bf401",
        "name": "Temperatura em °C",
        "topic": "/est/senTEMP",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ad571bdbc2afae72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "39bb950dd9923da5",
                "5772fe446ad68001",
                "2a7cfa562273327c",
                "ab9ee59f87df9ded"
            ]
        ]
    },
    {
        "id": "39bb950dd9923da5",
        "type": "debug",
        "z": "108a8f75907bf401",
        "name": "debug Temperatura em °C",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "5772fe446ad68001",
        "type": "ui_chart",
        "z": "108a8f75907bf401",
        "name": "Temperatura",
        "group": "d4fcdd6319244e4d",
        "order": 2,
        "width": 8,
        "height": 8,
        "label": "Dados Historicos da Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1130,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c855a733271e8cf8",
        "type": "mqtt in",
        "z": "108a8f75907bf401",
        "name": "Umidade em %",
        "topic": "/est/senUM",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ad571bdbc2afae72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 540,
        "wires": [
            [
                "edbbe7bc8ba1a85b",
                "6f85d59760f1f78e",
                "153f778d263448f5",
                "ab9ee59f87df9ded"
            ]
        ]
    },
    {
        "id": "edbbe7bc8ba1a85b",
        "type": "debug",
        "z": "108a8f75907bf401",
        "name": "debug Velocidade Do Vento ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "6f85d59760f1f78e",
        "type": "ui_chart",
        "z": "108a8f75907bf401",
        "name": "Umidade",
        "group": "bfbd5a016532fed6",
        "order": 1,
        "width": 8,
        "height": 8,
        "label": "Umidade em %",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1120,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "18dc445a76e80d5e",
        "type": "ui_gauge",
        "z": "108a8f75907bf401",
        "name": "",
        "group": "a55379bf296b4062",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "Direção do Vento",
        "label": "Graus",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1150,
        "y": 360,
        "wires": []
    },
    {
        "id": "153f778d263448f5",
        "type": "ui_gauge",
        "z": "108a8f75907bf401",
        "name": "",
        "group": "a55379bf296b4062",
        "order": 5,
        "width": 4,
        "height": 4,
        "gtype": "wave",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0e71af",
            "#2339a9",
            "#0008eb"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1120,
        "y": 580,
        "wires": []
    },
    {
        "id": "2a7cfa562273327c",
        "type": "ui_gauge",
        "z": "108a8f75907bf401",
        "name": "",
        "group": "a55379bf296b4062",
        "order": 4,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#16a8c5",
            "#9de600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1130,
        "y": 480,
        "wires": []
    },
    {
        "id": "fedc5795e875160c",
        "type": "debug",
        "z": "108a8f75907bf401",
        "name": "debug RAD",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "25d3eeda9f7d2cf1",
        "type": "mqtt in",
        "z": "108a8f75907bf401",
        "name": "Radiação em Wm^−2",
        "topic": "/est/senRAD",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ad571bdbc2afae72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 600,
        "wires": [
            [
                "fedc5795e875160c",
                "ba8fcbc4247f38ca",
                "ab9ee59f87df9ded",
                "2bdbb1195bf7249a"
            ]
        ]
    },
    {
        "id": "ba8fcbc4247f38ca",
        "type": "ui_gauge",
        "z": "108a8f75907bf401",
        "name": "",
        "group": "a55379bf296b4062",
        "order": 8,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "Radiação",
        "label": "W/m²",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1120,
        "y": 660,
        "wires": []
    },
    {
        "id": "261de0812bbb0b45",
        "type": "debug",
        "z": "108a8f75907bf401",
        "name": "debug Velocidade Do Vento ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "3cdb9cc6833e6fee",
        "type": "mqtt in",
        "z": "108a8f75907bf401",
        "name": "Pluviometro em mm^2",
        "topic": "/est/sensPLU",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ad571bdbc2afae72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 660,
        "wires": [
            [
                "261de0812bbb0b45",
                "8b172001a13dabd3",
                "e4cde4323fd128ac",
                "ab9ee59f87df9ded"
            ]
        ]
    },
    {
        "id": "8b172001a13dabd3",
        "type": "ui_chart",
        "z": "108a8f75907bf401",
        "name": "Pluviometro",
        "group": "d4fcdd6319244e4d",
        "order": 1,
        "width": 8,
        "height": 8,
        "label": "Pluviômetro",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1130,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "e4cde4323fd128ac",
        "type": "ui_gauge",
        "z": "108a8f75907bf401",
        "name": "",
        "group": "a55379bf296b4062",
        "order": 11,
        "width": 4,
        "height": 4,
        "gtype": "wave",
        "title": "Pluviômetro",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1130,
        "y": 740,
        "wires": []
    },
    {
        "id": "9f93634410130300",
        "type": "debug",
        "z": "108a8f75907bf401",
        "name": "Dados Formatados",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ab9ee59f87df9ded",
        "type": "join",
        "z": "108a8f75907bf401",
        "name": "Dados Formatados",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "8",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 470,
        "y": 1120,
        "wires": [
            [
                "9f93634410130300",
                "37d7c41ccf531138"
            ]
        ]
    },
    {
        "id": "c8688397869d59c6",
        "type": "mqtt in",
        "z": "108a8f75907bf401",
        "name": "Pressão",
        "topic": "/est/senPR",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ad571bdbc2afae72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 740,
        "wires": [
            [
                "fdd61b7158de4368",
                "ab9ee59f87df9ded",
                "b2b5887c051a0bf1"
            ]
        ]
    },
    {
        "id": "fdd61b7158de4368",
        "type": "ui_gauge",
        "z": "108a8f75907bf401",
        "name": "",
        "group": "a55379bf296b4062",
        "order": 7,
        "width": 4,
        "height": 4,
        "gtype": "wave",
        "title": "Pressão",
        "label": "hPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1120,
        "y": 800,
        "wires": []
    },
    {
        "id": "f1d5226abb93ea30",
        "type": "mqtt in",
        "z": "108a8f75907bf401",
        "name": "RSSI",
        "topic": "/est/rssi",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ad571bdbc2afae72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 820,
        "wires": [
            [
                "b3e20e22c90be06f",
                "87e837be13a41c6a",
                "ab9ee59f87df9ded",
                "785ee8beafb62cbd"
            ]
        ]
    },
    {
        "id": "b3e20e22c90be06f",
        "type": "debug",
        "z": "108a8f75907bf401",
        "name": "rssi",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "87e837be13a41c6a",
        "type": "ui_gauge",
        "z": "108a8f75907bf401",
        "name": "",
        "group": "a55379bf296b4062",
        "order": 10,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "RSSI",
        "label": "dBm",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1110,
        "y": 860,
        "wires": []
    },
    {
        "id": "37d7c41ccf531138",
        "type": "function",
        "z": "108a8f75907bf401",
        "name": "Salvando na tabela ufop_weather_station_table",
        "func": "if (isNaN(msg.payload[\"/est/senAnen\"])) {\n    msg.payload[\"/est/senAnen\"] = null;\n}\n\nif (isNaN(msg.payload[\"/est/senDven\"])) {\n    msg.payload[\"/est/senDven\"] = null;\n}\n\nif (isNaN(msg.payload[\"/est/senTEMP\"])) {\n    msg.payload[\"/est/senTEMP\"] = null;\n}\n\nif (isNaN(msg.payload[\"/est/senUM\"])) {\n    msg.payload[\"/est/senUM\"] = null;\n}\n\nif (isNaN(msg.payload[\"/est/senRAD\"])) {\n    msg.payload[\"/est/senRAD\"] = null;\n}\n\nif (isNaN(msg.payload[\"/est/senPR\"])) {\n    msg.payload[\"/est/senPR\"] = null;\n}\n\nmsg.topic = \"INSERT INTO ufop_weather_station_table(velocidade_vento, Direcao_vento, Temperatura, Umidade, Radiacao, Pressao) VALUES (?, ?, ?, ?, ?, ?)\";\nmsg.payload = [\n    msg.payload[\"/est/senAnen\"],\n    msg.payload[\"/est/senDven\"],\n    msg.payload[\"/est/senTEMP\"],\n    msg.payload[\"/est/senUM\"],\n    msg.payload[\"/est/senRAD\"],\n    msg.payload[\"/est/senPR\"]\n];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1120,
        "wires": [
            [
                "615be1c6bbcf72d7"
            ]
        ]
    },
    {
        "id": "41ca51b581a9a953",
        "type": "debug",
        "z": "108a8f75907bf401",
        "name": "Salvando Dados no Banco",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 1120,
        "wires": []
    },
    {
        "id": "615be1c6bbcf72d7",
        "type": "mysql",
        "z": "108a8f75907bf401",
        "mydb": "8184833fc68797a1",
        "name": "MariaDB",
        "x": 1140,
        "y": 1120,
        "wires": [
            [
                "41ca51b581a9a953"
            ]
        ]
    },
    {
        "id": "27acf4b4fd5d7f12",
        "type": "inject",
        "z": "108a8f75907bf401",
        "name": "Rotina das 23:59",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "59 23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 1220,
        "wires": [
            [
                "2435e2e9514960c3"
            ]
        ]
    },
    {
        "id": "37ab0c8953530e63",
        "type": "mysql",
        "z": "108a8f75907bf401",
        "mydb": "8184833fc68797a1",
        "name": "MariaDB",
        "x": 1140,
        "y": 1220,
        "wires": [
            [
                "35518bdb93ceea90"
            ]
        ]
    },
    {
        "id": "35518bdb93ceea90",
        "type": "debug",
        "z": "108a8f75907bf401",
        "name": "Dados diarios ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 1220,
        "wires": []
    },
    {
        "id": "6ad17b21238f0f9c",
        "type": "mysql",
        "z": "108a8f75907bf401",
        "mydb": "8184833fc68797a1",
        "name": "MariaDB",
        "x": 1140,
        "y": 1340,
        "wires": [
            [
                "706e0e016614f755",
                "f0f3091e87ef991a"
            ]
        ]
    },
    {
        "id": "5279870ea3c772b1",
        "type": "inject",
        "z": "108a8f75907bf401",
        "name": "Rotina das  00:00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 390,
        "y": 1340,
        "wires": [
            [
                "760edc7349a6baa4"
            ]
        ]
    },
    {
        "id": "2435e2e9514960c3",
        "type": "function",
        "z": "108a8f75907bf401",
        "name": "Converte os dados para diarios",
        "func": "msg.topic = `INSERT INTO ufop_weather_station_table_day(data, temp_media, temp_max, temp_min, umidade_media, umidade_max, umidade_min, rad_media, rad_max, rad_min, vento_media, vento_max, vento_min, pressao_media, pressao_max, pressao_min)\n    SELECT \n        DATE(data_insercao) AS data,\n        AVG(Temperatura), MAX(Temperatura), MIN(Temperatura),\n        AVG(Umidade), MAX(Umidade), MIN(Umidade),\n        AVG(Radiacao), MAX(Radiacao), MIN(Radiacao),\n        AVG(velocidade_vento), MAX(velocidade_vento), MIN(velocidade_vento),\n        AVG(Pressao), MAX(Pressao), MIN(Pressao)\n    FROM\n        ufop_weather_station_table\n    WHERE\n        DATE(data_insercao) = CURDATE()\n    GROUP BY\n        DATE(data_insercao)`;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 1240,
        "wires": [
            [
                "37ab0c8953530e63",
                "85e7d049b567876c"
            ]
        ]
    },
    {
        "id": "760edc7349a6baa4",
        "type": "function",
        "z": "108a8f75907bf401",
        "name": "Recupera dados do banco - tabela ufop_weather_station_table_day",
        "func": "msg.topic = `SELECT \n    temp_media, temp_max, temp_min, umidade_media, umidade_max, umidade_min, \n    rad_media, rad_max, rad_min, vento_media, vento_max, vento_min,\n    pressao_media, pressao_max, pressao_min\nFROM \n    ufop_weather_station_table_day\nWHERE \n    data = CURDATE()`;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1340,
        "wires": [
            [
                "6ad17b21238f0f9c"
            ]
        ]
    },
    {
        "id": "85e7d049b567876c",
        "type": "debug",
        "z": "108a8f75907bf401",
        "name": "Dados diarios ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 1060,
        "wires": []
    },
    {
        "id": "706e0e016614f755",
        "type": "debug",
        "z": "108a8f75907bf401",
        "name": "Dados Recuperados",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1340,
        "wires": []
    },
    {
        "id": "8e96b565cdfa923a",
        "type": "ui_gauge",
        "z": "108a8f75907bf401",
        "name": "",
        "group": "a55379bf296b4062",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "Velocidade do Vento",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1160,
        "y": 260,
        "wires": []
    },
    {
        "id": "2bdbb1195bf7249a",
        "type": "ui_chart",
        "z": "108a8f75907bf401",
        "name": "Radiação",
        "group": "bfbd5a016532fed6",
        "order": 2,
        "width": 8,
        "height": 8,
        "label": "Radiação",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1120,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "49965bb5333ffd7d",
        "type": "ui_chart",
        "z": "108a8f75907bf401",
        "name": "Velocidade do Vento",
        "group": "d4fcdd6319244e4d",
        "order": 3,
        "width": 8,
        "height": 8,
        "label": "Velocidade do Vento",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1160,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b2b5887c051a0bf1",
        "type": "debug",
        "z": "108a8f75907bf401",
        "name": "pressao",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 100,
        "wires": []
    },
    {
        "id": "f0f3091e87ef991a",
        "type": "function",
        "z": "108a8f75907bf401",
        "name": "Calcula ETo",
        "func": "// Variáveis para os dados recuperados\n\nvar data = msg.payload[0]; // Primeiro objeto de dados no formato [{\"...\": ..., \"...\": ...}]\nvar temp_media = data.temp_media;\nvar temp_max = data.temp_max;\nvar temp_min = data.temp_min;\nvar umidade_media = data.umidade_media;\nvar umidade_max = data.umidade_max;\nvar umidade_min = data.umidade_min;\nvar rad_media = data.rad_media;\nvar rad_max = data.rad_max;\nvar rad_min = data.rad_min;\nvar vento_media = data.vento_media;\nvar vento_max = data.vento_max;\nvar vento_min = data.vento_min;\nvar pressao_media = data.pressao_media;\nvar pressao_max = data.pressao_max;\nvar pressao_min = data.pressao_min;\n\nvar now = new Date(); // Current date\nvar start = new Date(now.getFullYear(), 0, 0);\nvar diff = now.getTime() - start.getTime();\nvar oneDay = 1000 * 60 * 60 * 24;\nvar JulianDay = Math.floor(diff / oneDay);\n\n// Calculation of solar declination angle (declinacao_solar)\nvar rad = Math.PI / 180;\nvar N = JulianDay;\nvar dec = 23.45 * Math.sin(2 * Math.PI * (284 + N) / 365);\n\n// Calculation of relative inverse distance between Earth and Sun (dr)\nvar delta = 0.0172 * Math.sin(0.9856 * (N - 2 + 0.4393));\nvar dr = 1 + 0.033 * Math.cos(delta);\n\n// Calculation of sunset and sunrise hour angles (ss and s)\nvar lat = -15.78; // Latitude of the location (in degrees)\nvar latRad = lat * rad;\nvar declRad = dec * rad;\nvar ss = Math.acos(-Math.tan(latRad) * Math.tan(declRad));\nvar s = Math.PI - ss;\n\n// Rest of the ETo calculation\nvar Gsc = 0.082; // Constant solar constant (MJ m-2 min-1)\nvar alt = 100; // Altitude of the location (in meters)\nvar z = 0; // Wind reference height (in meters)\nvar u2 = vento_media; // Wind speed at 2 meters (m/s)\nvar Tmax = temp_max; // Maximum temperature (in °C)\nvar Tmin = temp_min; // Minimum temperature (in °C)\nvar Tmean = temp_media;\nvar RHmax = umidade_max; // Maximum relative humidity (in %)\nvar RHmin = umidade_min; // Minimum relative humidity (in %)\nvar Rs = rad_media; // Incident solar radiation (MJ m-2 day-1)\nvar es = 0.6108 * Math.exp((17.27 * Tmax) / (Tmax + 237.3)); // Saturation vapor pressure (kPa)\nvar ea = 0.6108 * Math.exp((17.27 * Tmin) / (Tmin + 237.3)); // Actual vapor pressure (kPa)\nvar delta = 4098 * (0.6108 * Math.exp((17.27 * Tmax) / (Tmax + 237.3))) / Math.pow((Tmax + 237.3), 2); // Slope of vapor pressure curve (kPa/°C)\nvar gamma = 0.665 * 10^-3 * pressao_media; // Psychrometric constant (kPa/°C)\nvar Ra = (24 * 60 / Math.PI) * Gsc * dr * (0.25 * (Math.sin((Math.PI * (JulianDay - 1)) / 180) * Math.sin(latRad) + Math.cos((Math.PI * (JulianDay - 1)) / 180) * Math.cos(latRad) * Math.sin(declRad))); // Extraterrestrial radiation (MJ m-2 day-1)\nvar Rso = (0.75 + 2 * 10^-5 * alt) * Ra; // Clear sky solar radiation (MJ m-2 day-1)\nvar Rns = (1 - 0.23) * Rs; // Net solar radiation (MJ m-2 day-1)\nvar Rnl = 4.903 * Math.pow(10, -9) * ((Math.pow((Tmax + 273.16), 4) + Math.pow((Tmin + 273.16), 4)) / 2) * (0.34 - 0.14 * Math.sqrt(ea)) * (1.35 * (Rs / Rso) - 0.35); // Net longwave radiation (MJ m-2 day-1)\nvar Rn = Rns - Rnl; // Net radiation (MJ m-2 day-1)\nvar ETo = ((0.408 * delta * Rn) + (gamma * (900 / (Tmean + 273)) * u2 * (es - ea))) / (delta + (gamma * (1 + 0.34 * u2))); // Reference evapotranspiration (mm/day)\n\n// Store the value of ETo in the output message\nmsg.payload.eto = ETo;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 1480,
        "wires": [
            [
                "5105c82d9d76eab5"
            ]
        ]
    },
    {
        "id": "2ad276ba44eac3d3",
        "type": "ui_gauge",
        "z": "108a8f75907bf401",
        "name": "",
        "group": "a55379bf296b4062",
        "order": 13,
        "width": 4,
        "height": 4,
        "gtype": "donut",
        "title": "Eto",
        "label": "mm/dia",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1530,
        "y": 1480,
        "wires": []
    },
    {
        "id": "5105c82d9d76eab5",
        "type": "function",
        "z": "108a8f75907bf401",
        "name": "formata_Eto",
        "func": "msg.payload = Number(msg.payload.eto.toFixed(2));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1480,
        "wires": [
            [
                "2ad276ba44eac3d3"
            ]
        ]
    },
    {
        "id": "785ee8beafb62cbd",
        "type": "ui_chart",
        "z": "108a8f75907bf401",
        "name": "Rssi",
        "group": "bfbd5a016532fed6",
        "order": 3,
        "width": 8,
        "height": 8,
        "label": "RSSI",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "150",
        "ymax": "-150",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff0000",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1090,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "0216b50ad20bf13c",
        "type": "ui_spacer",
        "z": "108a8f75907bf401",
        "name": "spacer",
        "group": "5e23833d52c3fbfb",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "a542174aaed9f387",
        "type": "ui_spacer",
        "z": "108a8f75907bf401",
        "name": "spacer",
        "group": "a55379bf296b4062",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "5b6ed0a9e18860e2",
        "type": "ui_spacer",
        "z": "108a8f75907bf401",
        "name": "spacer",
        "group": "a55379bf296b4062",
        "order": 6,
        "width": 8,
        "height": 1
    },
    {
        "id": "85b1c10da642cbec",
        "type": "ui_spacer",
        "z": "108a8f75907bf401",
        "name": "spacer",
        "group": "a55379bf296b4062",
        "order": 9,
        "width": 8,
        "height": 1
    },
    {
        "id": "a4c8d1bcd98ea785",
        "type": "ui_spacer",
        "z": "108a8f75907bf401",
        "name": "spacer",
        "group": "a55379bf296b4062",
        "order": 12,
        "width": 8,
        "height": 1
    },
    {
        "id": "90de4e3908dc2414",
        "type": "ui_spacer",
        "z": "108a8f75907bf401",
        "name": "spacer",
        "group": "a55379bf296b4062",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "44081449516a1157",
        "type": "ui_spacer",
        "z": "108a8f75907bf401",
        "name": "spacer",
        "group": "a55379bf296b4062",
        "order": 15,
        "width": 4,
        "height": 1
    },
    {
        "id": "bade75f9cfb5815e",
        "type": "ui_spacer",
        "z": "108a8f75907bf401",
        "name": "spacer",
        "group": "a55379bf296b4062",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "0a3ba92fe8bade58",
        "type": "ui_spacer",
        "z": "108a8f75907bf401",
        "name": "spacer",
        "group": "a55379bf296b4062",
        "order": 17,
        "width": 4,
        "height": 1
    },
    {
        "id": "ad571bdbc2afae72",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d4fcdd6319244e4d",
        "type": "ui_group",
        "name": "Dados Historicos",
        "tab": "50923d93b972bb89",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": true
    },
    {
        "id": "bfbd5a016532fed6",
        "type": "ui_group",
        "name": "",
        "tab": "50923d93b972bb89",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": true
    },
    {
        "id": "a55379bf296b4062",
        "type": "ui_group",
        "name": "Gráficos",
        "tab": "50923d93b972bb89",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true
    },
    {
        "id": "8184833fc68797a1",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "ufop_weather_station",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "50923d93b972bb89",
        "type": "ui_tab",
        "name": "Estação Labcam",
        "icon": "dashboard",
        "order": 11,
        "disabled": false,
        "hidden": false
    }
]